body {
    margin: auto;
    padding: 100px 0px 50px 0px;
    color : #048B9A;
}

/** HEADER **/

header {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    padding: 10px 25px 10px 25px;
    background-color: #048B9A;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-transform: uppercase;
}

header a {
    text-decoration: none;
    color: white;
}

#logo {
    display: flex;
    align-items: baseline;
}

#logo h1 {
    margin: 0;
}

nav {
    width: 50%;
}

ol {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a:hover{
    color: gray;
    text-decoration: underline;
}

/** BLOC_PAGE **/ 

#bloc_page {
    padding: 0 25px 0 25px;
}

section {
    background: url('images/separateur.png') repeat-x bottom;
    text-align: justify;
    padding-bottom: 20px;
}

.type {
    display: flex;
    margin-bottom: 50px;
}

.type article {
   padding-right: 50px;
}

h3 {
   margin-top: 0;
}

/** FOOTER **/

footer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

fieldset div {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}